<div class="container">
    <h1 class="title">The Mini Project</h1>
    <p class="head">Overview: </p>
    <p class="justify-content-center">This application is built by using Angular (Front-End) and Spring-Boot (Back-End). User can click the <b>Start Application</b> button to create session for restaurant vote. When
    the host choose to end the session, the application will pop-up a dialog message to tell the host the name of the random selected restaurant. Click the button to start now.</p>
    <button class="btn btn-primary" (click)="goToSessionsPage()"> Start Application </button>
</div>
